{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'css/base_index_login/style.css' %}">

    <title>{% block title %}{% endblock title %}</title>

    {% block style %}

    {% endblock style %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>

    {% block Body %}{% endblock Body %}

    <div class="ellipse">
      <div class="ellipse-bg-01"></div>
      <div class="ellipse-bg-02"></div>
    </div>


{% if messages %}
{% for message in messages %}


  {% if message.tags == 'error' %}

    <script>

      function Alert() {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'error',
          title: '{{ message }}'
        })}

        Alert()
    </script>

  {% endif %}

{% endfor %}


{% endif %}
  </body>
</html>
