/* Fonts */ /* Fonts */
/* Usada no Header only */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");
/* Source Sans Pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
/* define variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #0098b9, #148098);
  display: flex;
  flex-direction: column;
}

ul {
  height: 115px;
  padding: 0 28px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #036e85;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
ul li a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  display: flex;
  gap: 27px;
  align-items: center;
  color: #fff;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 29px;
}
ul li a:hover {
  color: #fff;
}
ul li a p {
  margin: 0;
}
@media (max-width: 1200px) {
  ul {
    border-radius: 0px;
  }
}
@media (max-width: 1500px) {
  ul {
    height: 60px;
    margin-bottom: 16px;
  }
  ul .image-header-calendar {
    display: none;
  }
  ul p {
    display: none;
  }
}

main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  position: absolute;
  top: 50px;
  right: 70px;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.modal-content {
  background-color: #036e85;
  width: 210px;
  /* height: 275px; */
}

.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.modal-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.screen_profile_head p:nth-of-type(1) {
  color: #fff;
  margin: 0;
}

.screen_profile_head p:nth-of-type(2) {
  color: #fff;
  opacity: 0.9;
  margin: 0;
}

.screen_profile_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen_profile_main p {
  margin: 0;
  color: #fff;
}

.screen_profile_main a {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 12px;
  text-decoration: none;
}

.screen_profile_footer a {
  background-color: transparent;
  font-weight: bold;
  color: #ffb800;
  text-decoration: none;
}

.changeColor {
  filter: brightness(0) saturate(100%) invert(81%) sepia(33%) saturate(5977%) hue-rotate(1deg) brightness(106%) contrast(105%);
}

.ellipse-bg-01 {
  position: fixed;
  z-index: -3;
  bottom: -1000px;
  right: -1100px;
  height: 1612px;
  width: 2637.6px;
  background: linear-gradient(rgba(255, 255, 255, 0.04), rgb(0, 141, 172));
  border-radius: 50%;
  transform: rotate(-4%);
}

.ellipse-bg-02 {
  position: fixed;
  z-index: -2;
  bottom: -1400px;
  left: -1100px;
  height: 1612px;
  width: 2637.6px;
  background: linear-gradient(rgba(255, 255, 255, 0.06), rgba(0, 152, 185, 0.77));
  border-radius: 50%;
  transform: rotate(-4deg);
}

.ellipse-bg-03 {
  position: fixed;
  z-index: -2;
  bottom: -1400px;
  right: -800px;
  height: 1612px;
  width: 2637.6px;
  background: linear-gradient(rgba(0, 152, 185, 0.2), rgba(255, 255, 255, 0.8));
  border-radius: 50%;
  transform: rotate(-20deg);
}

/* Para tela do calendario */
@media (min-width: 1400px) {
  body {
    flex-direction: row;
  }
  .changeColor {
    filter: brightness(0) saturate(100%) invert(81%) sepia(33%) saturate(5977%) hue-rotate(1deg) brightness(106%) contrast(105%);
  }
  .changeColor::after {
    content: "";
    position: relative;
    left: -280px;
    top: 30px;
    border-bottom: var(--borda, 5px solid #ffb800);
    width: 280px;
    border-radius: 2px;
  }
}
@media (min-width: 1400px) and (min-width: 1400px) {
  ul {
    height: 100vh;
    width: 20vw;
    padding: 0 28px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #036e85;
    padding: 46px 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  ul li a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 46px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 29px;
  }
  ul li a:hover {
    color: #fff;
  }
  ul li a p {
    margin: 0;
  }
}
select {
  outline: none;
}/*# sourceMappingURL=style.css.map */