{% extends 'clinic/base.html' %}
{% load static %}

{% block title %}
Home - SACM
{% endblock title %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/home/style.css' %}"
/>
{% endblock style %} {% block Main %}

<div class="container-home-ADM">
  <div class="container-header">
    <section class="title-subtitle">
      <h1>Bem vindo ao SACM</h1>
      <p>Gerencie seus agendamentos aqui!</p>
    </section>

    <img src="{% static 'assets/imgs/logo_small_invert.png' %}" alt="Talismar" />
  </div>

  <img
    class="computer_icon"
    src="{% static 'assets/icons/computer.png' %}"
    alt="Imagem"
  />

  <div class="container-footer">
    {% for it in home_item %}
    <div class="box-01">
      <h3>{{it.title}}</h3>

      <section class="box-02">
        <img src="{% static 'assets/icons/' %}{{it.icon}}.png" alt="{{ it.icon }}" />

        <div class="box-3">
          <p>Total</p>
          <strong>{{ it.count }}</strong>
        </div>
      </section>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock Main %}
