/* Fonts */
/* Usada no Header only */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");
/* Source Sans Pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
/* define variables */
.box_container {
  width: 1371px;
  background-color: #fff;
  border-radius: 25px;
}
.box_container .circle_container {
  position: absolute;
}
.box_container .circle_container .circle {
  width: 80px;
  height: 88px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  top: 98px;
  left: -40px;
}
.box_container .circle_container .circle img {
  margin: 16px;
}
.box_container .box_header {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.box_container .box_header .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 46px;
}
.box_container .box_header .title h1 {
  color: #ffb800;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.box_container .box_header .title .header-filter-buttons form {
  display: flex;
  align-items: center;
  gap: 16px;
}
.box_container .box_header .title .header-filter-buttons form select,
.box_container .box_header .title .header-filter-buttons form input {
  width: 300px;
  height: 46px;
  border: #ffb800 1px solid;
  border-radius: 5px;
  background-color: #fff7e5;
  padding-left: 20px;
  font-size: 20px;
}
.box_container .box_header .title .header-filter-buttons form button {
  height: 46px;
  padding: 10px 33px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  line-height: 0px;
}
.box_container .box_header .title .header-filter-buttons form button:nth-of-type(1) {
  background-color: #ffb800;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.box_container .box_main {
  font-family: "Poppins", sans-serif;
}
.box_container .box_main .table_diary {
  background-color: #fff7e5;
  margin: 0px 46px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  padding: 42px 20px 0 20px;
  height: 660px;
}
.box_container .box_main .table_diary table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px;
  font-size: 32px;
}
.box_container .box_main .table_diary table tr {
  height: 69px;
}
.box_container .box_main .table_diary table th,
.box_container .box_main .table_diary table td {
  padding: 10px;
}
.box_container .box_main .table_diary table thead tr > th {
  color: #ffb800;
  font-weight: bold;
  text-align: start;
}
.box_container .box_main .table_diary table tbody tr.check {
  background-color: #ffe9b2;
}
.box_container .box_main .table_diary table tbody tr.check-cancelado {
  background-color: #f5d6d7;
}
.box_container .box_main .table_diary table tbody tr.check-cancelado td {
  border-bottom: 1px solid #e45038;
  border-top: 1px solid #e45038;
  height: 100%;
}
.box_container .box_main .table_diary table tbody tr.check-cancelado td:nth-of-type(1) {
  border-left: 1px solid #e45038;
}
.box_container .box_main .table_diary table tbody tr.check-cancelado td:nth-of-type(5) {
  border-right: 1px solid #e45038;
}
.box_container .box_main .table_diary table tbody tr {
  background-color: #fff;
  border: 1px #ffb800 solid;
}
.box_container .box_main .table_diary table .action {
  /* height: 69px; */
  display: flex;
  gap: 24px;
}
.box_container .box_main .table_diary table .action button {
  border: none;
  background-color: inherit;
}
.box_container .box_main .table_diary table tr td {
  border-bottom: 1px solid #ffb800;
  border-top: 1px solid #ffb800;
}
.box_container .box_main .table_diary table tr td:nth-of-type(1) {
  border-left: 1px solid #ffb800;
}
.box_container .box_main .table_diary table tr td:nth-of-type(5) {
  border-right: 1px solid #ffb800;
}
.box_container .box_main .pagination {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
.box_container .box_main .pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
.box_container .box_main .pagination .active {
  background-color: #ffb800;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 1450px) {
  .box_container .circle_container {
    display: none;
  }
}
@media (max-width: 1370px) {
  .box_container {
    border-radius: 0px;
    overflow-x: scroll;
  }
  .box_container .box_header {
    width: 1370px;
  }
  .box_container .box_main {
    width: 1370px;
  }
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../../../../static/assets/icons/check_small_yellow.svg");
  background-repeat: no-repeat;
  background-position: right 24px top 18px;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(57%) sepia(98%) saturate(479%) hue-rotate(1deg) brightness(109%) contrast(101%);
  margin-right: 21px;
}/*# sourceMappingURL=style.css.map */